# Лабораторная работа №8
# ToDo Application

# GUI (входит в стандартную библиотеку Python)
# - tkinter

# База данных (входит в стандартную библиотеку)
# - sqlite3

# Веб-приложение
fastapi>=0.104.0
uvicorn>=0.24.0
pydantic>=2.0.0

# Тестирование
pytest>=7.4.0
